<div *ngFor="let storyEstimation of storyEstimations">
  {{ storyEstimation.jiraId }}
  {{ storyEstimation.userName }}
  {{ storyEstimation.size }}
  {{ storyEstimation.comment }}
</div>

<app-new-story-estimation></app-new-story-estimation>



