<p>
  new-story-estimation works!
</p>

<!--<form (submit)="save()">

<div class="form-group">
  <label for="jiraId">Jira ID :</label>
  <input type="text"
         class="form-control"
         name="jiraId"
         id="jiraId"
         [(ngModel)]="storyEstimationModel.jiraId"
  >
</div>

<div class="form-group">
  <label for="userName">User Name :</label>
  <input type="text"
         class="form-control"
         name="userName"
         id="userName"
         [(ngModel)]="storyEstimationModel.userName"
  >
</div>

<div class="form-group">
  <label for="size">Size :</label>
  <select [(ngModel)]="storyEstimationModel.size" class="form-control" id="size">
    <option value="XS">Extra Small (XS)</option>
    <option value="S">Small (S)</option>
    <option value="M">Medium (M)</option>
    <option value="L">Large (L)</option>
    <option value="EL">Extra Large (EL)</option>
  </select>
</div>

<div class="form-group">
  <label for="comment">Comment :</label>
  <input type="textarea"
         class="form-control"
         name="comment"
         id="comment"
         [(ngModel)]="storyEstimationModel.comment"
  >
</div>

<input type="submit" class="btn btn-primary" value="Save">

</form>-->



<div class="col-md-6 col-md-push-3 register-form">
  <div class="form">
    <div class="note">
      <h1>Estimate Story Size</h1>
    </div>
    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="storyEstimationModel.jiraId" placeholder="JIRA ID *"  value=""/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="storyEstimationModel.comment" placeholder="COMMENT *" value=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="storyEstimationModel.userName" placeholder="USER NAME" value=""/>
          </div>
          <div class="form-group">
            <select [(ngModel)]="storyEstimationModel.size" class="form-control">
              <option value="XS">Extra Small (XS)</option>
              <option value="S">Small (S)</option>
              <option value="M">Medium (M)</option>
              <option value="L">Large (L)</option>
              <option value="EL">Extra Large (EL)</option>
            </select>
          </div>
        </div>
      </div>
      <button type="button" class="btnSubmit" (click)="saveEstimation()">Submit</button>
    </div>
  </div>
</div>

